@media (min-width: 992px) and (max-width: 1199px) {
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .menu_area #nav .nav-link {
        padding: 2rem 1rem;
    }
    .video-area {
        height: 550px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 48px;
    }
    .header_area.sticky {
        /* height: 50px; */
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 7.5px 15px;
    }
    #ca-navbar {
        padding: 30px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .single-special {
        padding: 30px 10px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .video-area {
        height: 350px;
    }
    .section-heading > h2 {
        font-size: 38px;
    }
    .footer-text > p {
        margin-bottom: 30px;
    }
    .section-heading {
        margin-bottom: 24px;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }
    .menu_area .navbar-brand {
        font-size: 32px;
    }
    .header_area.sticky {
        /* height: 50px; */
    }
    .header_area .menu_area #nav .nav-link,
    .header_area.sticky .menu_area #nav .nav-link {
        padding: 5px 15px;
    }
    #ca-navbar {
        padding: 20px;
        border-radius: 3px;
        background-color: #5b32b4;
        text-align: left;
    }
    .header_area {
        top: 0;
    }
    .logo_area > a > h2 {
        font-size: 40px;
        margin-top: 10px;
    }
    .section-heading > h2 {
        font-size: 32px;
    }
    .section-heading {
        margin-bottom: 24px;
    }
    .single-special {
        margin-bottom: 30px;
    }
    .special_description_area.mt-150 {
        margin-top: 50px;
    }
    .special_description_content > h2 {
        font-size: 30px;
    }
    .video-area {
        border: 10px solid #fff;
        border-radius: 20px;
        height: 250px;
    }
    .video-area::after {
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid #f1f4f8;
        z-index: 2;
        border-radius: 20px;
    }
    .clients-feedback-area .client-description > p {
        font-size: 20px;
    }
    .clients-feedback-area .slick-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .clients-feedback-area .slick-slide.slick-current img {
        width: 70px !important;
        height: 70px !important;
    }
    .footer-contact-icon > a {
        font-size: 20px;
    }
    .footer-contact-icon > a > i {
        color: #9b69e4;
        font-size: 24px;
        background: #ffffff;
        height: 32px;
        width: 32px;
        line-height: 32px;
        font-weight: 500;
        border-radius: 10px 10px 10px 0px;
        margin: 4px;
    }
    .footer-text > h2 {
        font-size: 48px;
    }

    .footer-text > h4 {
        font-size: 24px;
    }

}
